@import "../../css/Variables.scss";

.dual-values{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    .value-row{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .result-value{
            font-size: $standard-heading-font-size;   
        }     
        
        .non-max{
            color: $light-text
        }

        .max{
            color: "#000000";
            animation: pop-text 0.3s ease-in-out;

        }
    }
}

@keyframes pop-text {
    0%{
        color: "#000000";
        text-shadow: 0 0 0 rgba(0, 0, 0, 1);
    }
    65%{
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);        
    }
    100%{
        color: "rgb(200, 200, 200)";
        text-shadow: 0 0 20px rgba(200, 200, 200, 0.5);    
    }
}