@import "../../css/Variables.scss";

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid $lightest-conspicuous;
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 1rem;
    gap: 0.6rem;

    .section-title{
        padding: 0;
        margin: 0;
    }

    // .results>*{
    //     margin: auto 0;
    // }

    @media(max-width: map-get($breakpoints, "tablet")){
        border-left: none;
        border-top: 1px solid $lightest-conspicuous; //doesn't work .. maybe I need a width
        width: 100%;
        padding-bottom: 2rem;
    }
}