@use "sass:color";

@import "../../css/Variables.scss";
$solid-quadrant: 10px solid #00bfb6;
$transparent-quadrant: 10px solid transparent;
$height-percent-increment: 10%;
$additional-y-offset: 5%;

@mixin triangle($left, $right, $top, $bottom, $offsetRight, $offsetTop) {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: $left;
    border-right: $right;
    border-top: $top;
    border-bottom: $bottom;
    right: $offsetRight;
    top: $offsetTop;
}

@mixin bubbleTrianglesAtPositionY(){
    @for $i from 1 through 3{
        .top-right-#{$i*10}:before {
            @include triangle(
                10px solid #00bfb6,
                10px solid transparent,
                10px solid #00bfb6,
                10px solid transparent,
                -21px,
                -4px
            );
        }
        
        .top-right-#{$i*10}:after {
            @include triangle(
                7px solid color.scale($header-bg-max, $lightness: calc(5% + $i * $height-percent-increment + $additional-y-offset)),
                7px solid transparent,
                7px solid color.scale($header-bg-max, $lightness: calc(5% + $i * $height-percent-increment + $additional-y-offset)),
                7px solid transparent,
                -11px,
                0
            );
        }
        
        .bottom-right-#{$i*10}:before {
            @include triangle(
                10px solid #00bfb6,
                10px solid transparent,
                10px solid transparent,
                10px solid #00bfb6,
                -21px,
                calc(100% - 15px - 1px)
            );
        }
        
        .bottom-right-#{$i*10}:after {
            @include triangle(
                6px solid color.scale($header-bg-max, $lightness: calc(25% + $i * $height-percent-increment + $additional-y-offset)),
                6px solid transparent,
                6px solid transparent,
                6px solid color.scale($header-bg-max, $lightness: calc(25% + $i * $height-percent-increment + $additional-y-offset)),
                calc(-11px - 4px + 3px),
                calc(100% - 7px - 5px)
            );
        }
        
        .top-left-#{$i*10}:before {
            @include triangle(
                10px solid transparent,
                10px solid #00bfb6,
                10px solid #00bfb6,
                10px solid transparent,
                100%,
                -4px
            );
        }
        
        .top-left-#{$i*10}:after {
            @include triangle(
                6px solid transparent,
                6px solid color.scale($header-bg-max, $lightness: calc(5% + $i * $height-percent-increment + $additional-y-offset)),
                6px solid color.scale($header-bg-max, $lightness: calc(5% + $i * $height-percent-increment + $additional-y-offset)),
                6px solid transparent,
                100%,
                0
            );
        }
        
        .bottom-left-#{$i*10}:before {
            @include triangle(
                10px solid transparent,
                10px solid #00bfb6,
                10px solid transparent,
                10px solid #00bfb6,
                100%,
                calc(100% - 15px - 1px)
            );
        }
        
        .bottom-left-#{$i*10}:after {
            @include triangle(
                6px solid transparent,
                6px solid color.scale($header-bg-max, $lightness: calc(25% + $i * $height-percent-increment + $additional-y-offset)),
                6px solid transparent,
                6px solid color.scale($header-bg-max, $lightness: calc(25% + $i * $height-percent-increment + $additional-y-offset)),
                100%,
                calc(100% - 7px - 5px)
            );
        }
    }
}

.bubble-container {
    width: 150px;
    border: 4px solid #00bfb6;
    border-radius: 12px;
    padding: 8px;//15px;
    text-align: center;
    font-weight: bold; //900;
    color: #00bfb6;
    font-family: arial;
    font-size: small;
    position: relative;

}

.corner-top-right {
    border-top-right-radius: 0px;
}

.corner-bottom-right {
    border-bottom-right-radius: 0px;
}

.corner-top-left {
    border-top-left-radius: 0px;
}

.corner-bottom-left {
    border-bottom-left-radius: 0px;
}


//########################
@include bubbleTrianglesAtPositionY();
