@mixin mic($url){
    position: relative;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: $url;

    .mic-wave{
        position: absolute; //this doesn't actually absolutely positions it...
        width: 150px;
        height: 150px;
        // top: 50%;
        // left: 50%;
        // top: -75px;
        // left: -75px;
        transform: translate3d(-50%, -50%);
        background-color: #d66679;
        opacity: 0.5;
        border: 1px solid #d66679;    
        border-radius: 50%;

        animation: radial-wave 1s forwards ease-in-out;    
    } 
}

.red-mic{
    @include mic(url(../../assets/img/mic-red.png));
}

.black-mic{
    @include mic(url(../../assets/img/mic-black.png));
}

@keyframes radial-wave {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(1);
    }  
    100%{
        transform: scale(0);
    }      
}

