@import "./Variables.scss";

.analyzer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    min-width: 16rem;
    height: 30%;
    gap: 1rem;

    background-color: $standard-bg;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px 2px lightgray;

    @media(max-width: map-get($breakpoints, "xl")) {
        width: 70%;
    }
    @media(max-width: map-get($breakpoints, "tablet")) {
        width: 80%;
    }
    @media(max-width: 480px) {
        width: 85%;
    }

    .analyzer-main-content{
        display: flex;
        justify-content: center;

        width: 90%;
        height: 90%;

        @media(max-width: map-get($breakpoints, "tablet")){ 
            flex-direction: column;
            align-items: center;
        }
    }
}