@import "./Variables.scss";

.analyzer-form{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    gap: 1rem;

    //width: 30rem;
    width: 90%;

    .analyzer-box{
        width: 90%;
        resize: none;
        border: 1px solid $lightest-conspicuous;
        border-radius: 0.2rem;
        color: $light-text;
        font-size: $standard-heading-font-size;
        font-weight: normal;
        //font-family: $standard-font-family;
    }  
    
    .submit-wrapper{
        padding-bottom: 20px;
    }
}

