@import "../css/Variables.scss"; //???

.generic-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    background-color: $standard-button-cta;
    color: $light-cta-text;
    border: none;
    border-radius: 0.4rem;
    font-size: $standard-heading-font-size;

    //margin-bottom: 20px; //has flex, prob won't work

    &:hover{
        opacity: $hover-opacity;
    }

    &:active{
        transform: translate(0.05rem, 0.05rem);
    }
}