@import "../css/Variables.scss";

.generic-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1.2rem;
    background-color: $standard-button-cta;
    color: $light-cta-text;
    border: none;
    border-radius: 0.2rem;
    font-size: x-small;

    &:hover{
        opacity: $hover-opacity;
    }

    &:active{
        transform: translate(0.05rem, 0.05rem);
    }
}