.needle{
    background-image: url(../assets/img/needle.png);
    background-repeat: no-repeat;
    background-size: 30px 70px;
    position: absolute;
    width: 30px;
    height: 70px;
    transform-origin: 100% 100%;

    animation: turn-needle 2s forwards ease-in-out ;  
}