@import "./Variables.scss";

.bubble-container{
    width: 300px;
    border: 4px solid #00bfb6;
    border-radius: 12px;
    border-top-right-radius: 0px;
    padding: 15px;
    text-align: center;
    font-weight: 900;
    color: #00bfb6;
    font-family: arial;
    position: relative;    


}

.slide-right{
    animation: slide-right 7s linear infinite;

    &:hover{
        animation-play-state: paused;
    }
}

.right-top:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: -21px;
    top: -4px;//6px;
  }

.right-top:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid $header-bg-max;
    border-right: 7px solid transparent;
    border-top: 7px solid $header-bg-max;
    border-bottom: 7px solid transparent;
    right: -11px;
    top: 0;
}

@keyframes slide-right{
    from{
        transform: translateX(-60vw);
    }

    to{
        transform: translateX(110vw)
    }
}