@use "sass:color";

@import "./Variables.scss";
$solid-quadrant: 10px solid #00bfb6;
$transparent-quadrant: 10px solid transparent;

@mixin triangle($left, $right, $top, $bottom, $offsetRight, $offsetTop){
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: $left;
    border-right: $right;
    border-top: $top;
    border-bottom: $bottom;
    right: $offsetRight;
    top: $offsetTop;
}

.bubble-container{
    width: 300px;
    border: 4px solid #00bfb6;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    font-weight: 900;
    color: #00bfb6;
    font-family: arial;
    position: relative;    
}

.corner-top-right{
    border-top-right-radius: 0px;
}

.corner-bottom-right{
    border-bottom-right-radius: 0px;
}
.corner-top-left{
    border-top-left-radius: 0px;
}
.corner-bottom-left{
    border-bottom-left-radius: 0px;
}

.slide-right{
    animation: slide-right 7s linear infinite;

    &:hover{
        animation-play-state: paused;
    }
}

.right-top:before {
    @include triangle(
        10px solid #00bfb6,
        10px solid transparent,
        10px solid #00bfb6,
        10px solid transparent,
        -21px,
        -4px
    );
  }

.right-top:after {
    @include triangle(
        7px solid $header-bg-max,
        7px solid transparent,
        7px solid $header-bg-max,
        7px solid transparent,
        -11px,
        0      
    );
}

.right-bottom:before {
    @include triangle(
        10px solid #00bfb6,
        10px solid transparent,
        10px solid transparent,
        10px solid #00bfb6,
        -21px,
        calc(100% - 15px - 1px)
    );   
}

.right-bottom:after {
    @include triangle(
        6px solid color.scale($header-bg-max, $lightness: 20%),
        6px solid transparent,
        6px solid transparent,
        6px solid color.scale($header-bg-max, $lightness: 20%),        
        calc(-11px - 4px + 3px),
        calc(100% - 7px - 5px)      
    );
}




@keyframes slide-right{
    from{
        transform: translateX(-60vw);
    }

    to{
        transform: translateX(110vw)
    }
}