.subjectivity-gauge{
    position: relative;
    width: 200px;
    height: 100px;
}

.gauge{
    position: absolute;
    width: 100%;
    height: 100px;

}

.needle{
    position: absolute;
    width: 30px;
    height: 80px;
    transform-origin: 50% 100%;
}