$lightest-conspicuous: #e8e8e8;
$light-text: #b9b9b9;
$standard-button-cta: #2d5de2;
$light-cta-text: white;

$hover-opacity: 0.8;

$standard-font-family: "Segoe UI";
$standard-heading-font-size: x-small;

//breakpoints
$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1280px,
    "tablet": 1024px,//720px,
    "mobile": 480px
);