$lightest-conspicuous: #e8e8e8;
$light-text: #b9b9b9;
$bit-light-text: rgb(167, 167, 167);
$standard-button-cta: #5EA9FF;
$light-cta-text: white;
$standard-bg: white;
$header-bg-max: #99AFEE;

$hover-opacity: 0.8;

$standard-font-family: "Segoe UI";

$standard-heading-font-size: large; //x-small;
$standard-heading-font-size-smaller: small;
$standard-heading-font-size-smaller-still: x-small;
$placeholder-font-size: small;

$standard-heading-weight: bold;

// $speech-bubble-border-color: #dbc397;
// $speech-bubble-bg: lightgray;
$speech-bubble-border-color: #c4d6ac;
$speech-bubble-bg: #c4d6ac;
$speech-buble-text-color: gray;

//breakpoints
$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1280px,
    "tablet": 960px, //1024px,//720px,
    "mobile": 480px
);
