.needle{
    background-image: url(../../assets/img/needle.png);
    background-repeat: no-repeat;
    background-size: 9px 60px;
    position: absolute;
    width: 9px;
    height: 60px;
    transform-origin: 50% 97%;
    left: 76px;
    top: 10px;
}
