@import "../../css/Variables.scss";

.subjectivity-gauge{
    position: relative;
    width: 170px;
    height: 85px;
    // @media(max-width: map-get($breakpoints, "xl")){
    //     width: 150px;
    //     height: 75px;        
    // }
    // @media(max-width: map-get($breakpoints, "tablet")){
    //     width: 135px;
    //     height: 67px;        
    // }    
}

.gauge{
    position: absolute;
    width: 100%;
    height: 85px;
    // @media(max-width: map-get($breakpoints, "xl")){
    //     height: 75px;        
    // }
    // @media(max-width: map-get($breakpoints, "tablet")){
    //     height: 67px;        
    // }     

}
